        </div>
    </main>

    <footer class="page-footer">
        <div class="center-align">
            Made with &hearts; with <a href="{curricubook.core.url}">CurricuBook</a> {curricubook.core.version}<br/>
        </div>
    </footer>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red white-text" href="mailto: {curricubook.author_email}">
            <i class="large material-icons">email</i>
        </a>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/js/materialize.min.js"></script>
    <script src="assets/functions.js"></script>
    
</body>

</html>
