[Desktop Entry]
Type=Application
Name=curricubook
Exec=curricubook
Comment=Tool to generate fancy work and education documents in several formats, lengths and styles
Icon=curricubook
Categories=Office;
Terminal=true
