body {
    color: #000;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

header {
    width: calc(100% - 48px);
    max-width: 1200px;
    margin: 24px auto 0 auto;
    padding: 0 24px 0 24px;
}

header h1 {
    font-size: 32px;
    margin: 0 0 24px 0;
    font-weight: bold;
}

main {
    width: calc(100% - 48px);
    max-width: 1200px;
    margin: 24px auto 0 auto;
}

footer {
    width: calc(100% - 48px);
    max-width: 1200px;
    margin: 24px auto 24px auto;
    padding: 0 24px 0 24px;
}

.section {
    padding: 0 24px 0 24px;
    margin-bottom: 72px;
}

.section h1 {
    font-size: 24px;
    margin: 0 0 24px 0;
}

.element {
    border: 1px solid #eee;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 24px;
    width: calc(100% - 72px);
    margin: 0 0 24px 0;
}

.element h1 {
    font-size: 24px;
    margin: 0 0 24px 0;
}

.element h2 {
    font-size: 18px;
    margin: 0 0 8px 0;
}

.element h3 {
    font-size: 14px;
    margin: 0 0 24px 0;
    color: #aaa;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 999;
    backdrop-filter: blur(8px);
    display: none;
}

.details {
    position: fixed;
    top: 48px;
    left: 48px;
    width: calc(100% - 172px);
    height: calc(100% - 172px);
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 2px 2px 4px #aaa;
    padding: 24px;
    border-radius: 24px;
    overflow: auto;
    z-index: 1000;
    display: none;
}
